@page
@model RegisterModel
@{
    ViewData["Title"] = "REGISTRESE YA";
}



<main class="bg-success">
    <h1 class="text-center text-white pt-5">@ViewData["Title"]</h1>
    <div class=" row mx-0 vh-100 align-items-center justify-content-center">
        <div class="col-md-4 me-5">
            <section>
                <h1 class="text-white">ProgramaYA</h1>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p class="text-white">
                                Prepárate para destacar: practica, mejora y domina tus entrevistas con ProgramaYA.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl"
                            method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                            title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
        <div class="bg-white col-md-4 rounded">
            <form class="px-5 py-5 rounded" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center">Registrate Aquí</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Nombres" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="Nombre" />
                    <label asp-for="Input.Nombres">Nombres</label>
                    <span asp-validation-for="Input.Nombres" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Apellidos" class="form-control" autocomplete="off" aria-required="true" placeholder="Apellidos"/>
                    <label asp-for="Input.Apellidos" >Apellidos</label>
                    <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.DNI" class="form-control" autocomplete="off" aria-required="true" placeholder="DNI" />
                    <label asp-for="Input.DNI">DNI</label>
                    <span asp-validation-for="Input.DNI" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Celular" class="form-control" autocomplete="tel" aria-required="true" placeholder="Celular" />
                    <label asp-for="Input.Celular">Celular</label>
                    <span asp-validation-for="Input.Celular" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="name@example.com" />
                    <label asp-for="Input.Email">Correo</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                        aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                        aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success ">Registrarse</button>
            </form>
        </div>

    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}